body {
    background-color: #f0f2f5;
}

.signup-form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    height: 100%;
    margin-top: 40px;
    margin-bottom: 40px;

    background-color: white;
    border: 1px solid #dadde1;
    border-radius: 10px;
    box-shadow: 0 2px 4px #b7bbbe;
}

.logo.auth {
    color: rgb(1, 90, 1);
    margin-bottom: 60px;
}

.logo-auth {
    width: 80px;
    height: 100px;
}

.form-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

.separator {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
    max-width: 100%;
}

.internal-link {
    cursor: pointer;
    text-decoration: none;
}

.internal-link:hover {
    text-decoration: underline;
}